@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraCodeNerdFont';
  src: url('/fonts/FiraCodeNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraCodeNerdFont';
  src: url('/fonts/FiraCodeNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root,
  .dark {
    --background: 235 18% 10%;
    --foreground: 0 0% 100%;
    --card: 235 18% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 236 18% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 231 20% 19%;
    --secondary-foreground: 237 8% 56%;
    --muted: 236 18% 15%;
    --muted-foreground: 229 9% 64%;
    --accent: 236 13% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 349 64% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 237 15% 26%;
    --input: 217 33% 17%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 56px;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  ::selection {
    @apply bg-primary/30;
  }

  ::-webkit-scrollbar {
    height: 2px;
    border-radius: 999px;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    border-radius: 999px;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .focus-me {
    @apply outline-none ring-inset focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring;
  }

  /*#region  /**=========== Typography ===========*/
  .h0 {
    @apply font-primary text-3xl font-medium md:text-5xl;
    background: linear-gradient(
      121.57deg,
      #ffffff,
      rgba(255, 255, 255, 0.66),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-medium md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-medium md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-medium md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-medium md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /*#endregion  /**======== Typography ===========*/

  .layout {
    /* 680px */
    max-width: 42.5rem;
    @apply mx-auto w-11/12;
  }

  .layout-wide {
    /* 900px */
    max-width: 56.25rem;
    @apply mx-auto w-11/12;
  }

  .section {
    @apply bg-background py-20 xl:py-24;
  }

  a.custom-link {
    @apply border-b-muted-foreground hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer*/
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    @apply bg-[linear-gradient(#11113300,#11113300),linear-gradient(to_right,hsl(var(--primary)),hsl(var(--primary)))];
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  .flash-underline {
    @apply max-w-max after:absolute after:bottom-0 after:right-0 after:h-[2px] after:w-0 after:transition-all after:duration-200 group-hover:after:left-0 group-hover:after:right-auto group-hover:after:w-full after:bg-primary;
  }
}
